DATABASE_URL=postgres://<postgres_username>:<postgres_password>@localhost:5432/<db_name>
SERVER=127.0.0.1:8888
APP_VERSION=0.1.0
LOG_LEVEL=DEBUG
REDIS_URL=redis://default:<redis_password>@localhost:6382/0
IS_FEED_ASSETS_DATA_ENABLED=false
CMC_API_KEY=<YOUR_API_KEY>
CMC_TOKEN_ID_ENDPOINT=https://pro-api.coinmarketcap.com/v1/cryptocurrency/map?aux=first_historical_data,last_historical_data
JWT_SECRET=your_jwt_secret
LOG_FILE_LOCATION=/logs

# Redis Password
REDIS_PASSWORD=<redis_password>

#ELK -- START --

# Username for the 'elastic' user
ELASTIC_USERNAME=elastic

# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=<es_password>

# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=<kibana_password>

# Version of Elastic products
STACK_VERSION=8.7.1

# Set the cluster name
CLUSTER_NAME=docker-cluster

# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=basic
#LICENSE=trial

# Port to expose Elasticsearch HTTP API to the host
ES_PORT=9200

# Port to expose Kibana to the host
KIBANA_PORT=5601

# Increase or decrease based on the available host memory (in bytes)
ES_MEM_LIMIT=1073741824
KB_MEM_LIMIT=1073741824
LS_MEM_LIMIT=1073741824

# SAMPLE Predefined Key only to be used in POC environments
ENCRYPTION_KEY=c34d38b3a14956121ff2170e5030b471551370178f43e5626eec58b04a30fae2
#ELK -- END --